<!DOCTYPE html>
<html>
  <head>
    <title>FIRE Stories - <%= story.title %></title>
    <meta name="description" content>
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/css/bulma.css">
    <link type="text/css" rel="stylesheet" href="/css/app.css">
		<link rel="shortcut icon" type="image/png" href="/images/favicon-16x16.png"/>
		<link href="https://fonts.googleapis.com/css?family=Aleo|Arvo:400,700|Playfair+Display:400,700|Roboto+Mono" rel="stylesheet">
    <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
    <!-- Open Graph -->
    <meta property="og:title" content="<%= story.title %>">
    <meta property="og:site_name" content="FIRE Stories">
    <meta property="og:url" content="https://www.firestories.co/<%=story.slug %>">
    <meta property="og:description" content="<%= story.title %>">
    <meta property="og:type" content="article">
    <meta property="og:image" content="<%= story.img %>">
    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-102047143-3"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
function gtag() {
  dataLayer.push(arguments);
}
gtag('js', new Date());

gtag('config', 'UA-102047143-3');
</script>
  </head>
<body>
