<section class="section share-container">
	<nav class="level is-mobile">
		<div class="level-item has-text-centered">
			<div>
			<a href="https://www.facebook.com/sharer/sharer.php?u=https://www.firestories.co/<%=story.slug %>" target="_blank">
				<img src="/images/facebook_share.png" height="24px" width="24px"></img>
			</a>
			</div>
		</div>
		<div class="level-item has-text-centered">
			<div>
			<a href="http://twitter.com/share?text=FIRE Stories Interview - <%= story.title %>&url=http://www.firestories.co/<%= story.slug %>&hashtags=FIRE,financialindependence,retireearly" target="_blank">
				<img src="/images/twitter_share.png" height="24px" width="24px"></img>
			</a>
			</div>
		</div>
		<div class="level-item has-text-centered">
			<div>
				<a href="https://www.linkedin.com/shareArticle?mini=true&url=firestories.co/<%= story.slug %>" target="_blank">
					<img src="/images/linkedin_share.png" height="24px" width="24px"></img>
				</a>
			</div>
		</div>
		<div class="level-item has-text-centered">
			<div>
				<a href="http://reddit.com/submit?url=https://www.firestories.co/<%= story.slug %>&title=<%= story.title %>" target="_blank">
					<img src="/images/reddit_share.png" height="24px" width="24px"></img>
				</a>
			</div>
		</div>
	</nav>
	</section>
