 <% include _header.ejs %>

 <% include ../application/_navbar.ejs %>
  <section class="hero is-small is-bold">
    <div class="hero-head">
    </div>
    <div class="hero-body">
      <div class="article-title has-text-centered">
        <h1 class="title is-1"><%= story.title %></h1>
      </div>
  </section>

  <div class="container content">

    <% if(adminUser) { %>
    <form action="/stories/<%= story.id %>?_method=DELETE" method="POST">
      <button class="button is-danger" type="submit">Delete Story</button>
    </form>

    <a class="button is-info" href="/stories/<%= story.id %>/edit">Edit Story</a>
    <a class="button is-info" href="/contacts/<%= story.Contact.id %>/edit">Edit Contact</a>

    <% } %>
    <% include _share.ejs %>
  <section class="story-content">
  		<div class="content-container">
        <div class="stats-box box">
         <nav class="level is-mobile">
           <div class="level-item has-text-centered">
             <div class="level-item has-text-centered">
               <div>
               <p class="heading">Retirement Age</p>
               <p class="title">38</p>
               </div>
             </div>
             <div>
             <p class="heading">Savings Rate</p>
             <p class="title">65%</p>
             </div>
           </div>
           <div class="level-item has-text-centered">
             <div>
             <p class="heading">Amount to Retire</p>
             <p class="title">$400k</p>
             </div>
           </div>
           <div class="level-item has-text-centered">
             <div>
             <p class="heading">Annual Spending</p>
             <p class="title">$18k</p>
             </div>
           </div>

         </nav>
        </div>
          <%- story.content %><br>
          <% include _share.ejs %>
  		</div>
    </div>
  </div>
</section>

<% include ../application/_footer.ejs %>
